<%= notice %>

<h2><%= @kitten.name %></h2>

<b><p>Cuteness:</p></b>
<%= @kitten.cuteness %>

<b><p>Age:</p></b>
<%= @kitten.age %>

<b><p>Softness:</p></b>
<%= @kitten.softness %></br></br>

<%= button_to "Delete", @kitten, :method => :delete %>

<%= link_to "Edit", edit_kitten_url(@kitten) %>